<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/vue-5532db34.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ㄐㄅ</title>
    <script type="module" crossorigin src="/static/admin-e4b5850c.js"></script>
    <link rel="modulepreload" crossorigin href="/static/b-32a3bb4d.js">
    <link rel="stylesheet" href="/static/b-41f40c51.css">
    <link rel="stylesheet" href="/static/index-d4a8f7e5.css">
  </head>
    <body>
      <div id="app"/>
    </body>
  
</html>
