<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/vue-5532db34.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理頁</title>
    <script type="module" crossorigin src="/static/admin-fabeabd6.js"></script>
    <link rel="modulepreload" crossorigin href="/static/_plugin-vue_export-helper-d5e1266d.js">
    <link rel="stylesheet" href="/static/admin-2d108e09.css">
  </head>
    <body>
      <div id="app"/>
    </body>
  
</html>
