<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/vue-5532db34.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>點餐!</title>
    <script type="module" crossorigin src="/static/main-53e0a89c.js"></script>
    <link rel="modulepreload" crossorigin href="/static/_plugin-vue_export-helper-98e3c91e.js">
    <link rel="stylesheet" href="/static/index-2009b4d3.css">
  </head>
    <body>
      <div id="app"/>
    </body>
  
</html>
